/*Fonts*/
@font-face{
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.otf');
}
@font-face{
    font-family: 'Bitter-Bold';
    src: url('../fonts/Bitter-Bold.otf');
}
@font-face{
    font-family: 'Bitter-Regular';
    src: url('../fonts/Bitter-Regular.otf');
}

/*Bootstrap_Divisions*/
.col-md-12{
    text-align: center;
}
.col-md-8{
    text-align: center;
}
.col-md-6{
    text-align: center;
}
.col-md-5{
    text-align: left;
}
.col-md-4{
    text-align: center;
}
.col-md-3{
    text-align: center;
}
.col-md-2{
    text-align: center;
}

/*Sections*/
#intro {
    background: 50% 0 fixed;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    padding-top: 100px;
    z-index: -1;
}
#messages{
    height: auto;
    margin: 0 auto;
    width: 100%;
    background: #F4F4F4;
    border-top: 1px solid #E0E0E0;
}
#about {
    height: auto;
    width: 100%;
    background: #F4F4F4;
    border-top: 1px solid #E0E0E0;
}
#home{
    margin: 0 auto;
    width: 100%;
    background: #F4F4F4;
}
#footer{
    border-top: 1px solid #333333;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: #333333;
}

/*NavigationBar*/
.navbar{
    margin: 0;
    position: fixed;
    width: 100%;
}
.navbar-right{
    font-family: 'Avenir-Book';
    margin-top: 25px;
    letter-spacing: 2px;
}
.logo{
    width: 150px;
    margin: 20px 0px 20px 0px;
    float: left;
}

/*Header1*/
.coffeehead{
    width: 80%;
    padding-top: 3%;
}
.opening{
    position: absolute;
    right: 0;
    top: 52%;
    font-family: 'Bitter-Regular';
    text-align: center;
}
.opening h7{
    font-size: 80px;
    font-family: 'Bitter-Bold';
    line-height: 45px;
    margin: 0;
    padding: 0;
}
.opening h8{
    line-height: 10px;
    font-size: 26px;
}
.btn:hover{
    color: white;
}
.btn-survey{
    position: fixed;
    z-index: 1;
    background: #F94803;
    border-radius: 4px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: right;
    margin: 0px -5px 0px 0px;
    padding: 0px 20px 5px 15px;
    vertical-align: middle;
    right: 0;
    top: 0;
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.btn-survey.open {
    -webkit-transform: translateX(0);
    -webkit-transition: -webkit-transform 0.1s;
}
.btn-survey p{
    float: right;
    margin-top: 7%;
}
.bulb{
    float: left;
    width: 12%;
    margin: 13px 15px 0px 0px;
}

/*Header2*/
.cup{
    max-width: 200px;
}
.spoon{
    max-width: 160px;
    overflow: hidden;
}
.about{
    padding: 40px 0px 40px 0px;
}
.blurby-right{
    text-align: justify;
    margin: 100px 12% 0px 30px;
}
.blurby-right h2{
    font-family: 'Bitter-Regular';
    font-weight: 800;
    text-align: right;
}
.blurby-right p{
    clear: both;
    margin-bottom: 30px;
}
.line-sep-red-right{
    border-bottom: 4px solid #F94803;
    width: 100px;
    float: right;
    margin: 2px 0px 15px 0px;
}
.blurby-right li{
    font-family: 'Bitter-Regular';
    font-size: 18px;
    padding: 2px;
    list-style: none;
}
.blurby-right a{
    color: #333333;
}
.blurby-right span{
    padding-right: 15px;
}
.blurby-left{
    text-align: justify;
    margin: 100px 0px 0px 12%;
}
.blurby-left h2{
    font-family: 'Bitter-Regular';
    font-weight: 800;
    text-align: left;
}
.blurby-left p{
    clear: both;
}
.blurby-left a:hover{
    color: #B0CDD7;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
.line-sep-red-left{
    border-bottom: 4px solid #F94803;
    width: 100px;
    float: left;
    margin: 2px 0px 15px 0px;
}
.team{
    margin: 150px 0px 0px 20px;
    font-family: 'Bitter-Regular';
    width: 100%;
}
.owl-carousel .owl-wrapper-outer:first-child{
    background: url("images/ipad.svg")no-repeat center;
}
.profile{
    width: 100%;
    height: 100%;
}
.link{
    position: absolute;
    right: 0;
    top: 0;
    margin: 60% 10% 0px 0px;
}
.arrow{
    width: 14%;
    padding: 0px 0px 2px 5px;
}
.pic{
    position: absolute;
    right: 0;
    margin: 13% 13% 0px 0px;
    width: 30%;
}
.profile p{
    font-size: 11px;
    position: absolute;
    text-align: justify;
    width: 38%;
    bottom: 0;
    left: 0;
    margin: 0px 0px 13% 18%;
}

/*Header4*/
.screenshots{
    margin: 30px 0px 100px 0px;
}
.shot{
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-color: white;
}
.project {
    width:100%;
    margin: 20px auto;
}
.project-container {
    cursor: pointer;
    width: 100%;
    height:100%;
    position:relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.back, .front {
    position: absolute;
    border-radius: 5px;
    width: 100%;
}
.front {
    overflow:hidden;
    z-index:900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.active .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.back {
    width: 100%;
    background-color: #F94803;
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-179deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.active .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.back p {
    font-size:1em;
    color: white;
    padding-top: 55%;
}

/*Header5*/
.moleskine{
    padding: 50px 0px 130px 65px;
    max-width: 380px;
}
.pencil{
    position: absolute;
    padding-top: 50px;
    max-width: 70px;
}
.btn-custom{
    margin-top: 30px;
    padding: 15px 20px 10px 20px;
    margin-bottom: 180px;
    background: #F94803;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 2px;
}

/*Footer*/
.mail{
    margin: 0 auto;
    width: 10%;
    cursor: pointer;
}
.mail img{
    margin-top: -50%;
    max-width: 90px;
    padding-bottom: 30px;
}
.footer{
    z-index: -1;
    padding: 0px 0px 130px 0px;
}
.footer h1{
    color: white;
    font-family: 'Bitter-Regular';
}
.footer h4{
    color: #AFCCD6;
}
.footer h5{
    margin: 2px;
    color: white;
}
.line-sep-gray{
    border-bottom: 4px solid #F94803;
    width: 110px;
    margin: 16px auto;
}
.social{
    width: 35px;
    margin: 30px 10px 20px 10px;
}

/*ContactForm*/
.contact-form{
    padding-bottom: 40px;
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    background: #F94803;
    margin-top: 20px;
}
.form-control{
    margin-top: 10px;
}
@media screen and (max-width: 29.999em){
.blurby-right{
    margin: 0px 15px 0px 15px;
}
.blurby-left{
    margin: 0px 15px 0px 15px;
}
.btn-survey{
    display: none;
}
.mail{
    width: 50%;
    margin-top: 40px;
}
.cup{
    width: 50%;
}
.spoon{
    display: none;
}
.opening{
    left: 0;
    padding: 130px 0px 0px 0px;
}
.coffeehead{
    width: 140%;
}
.team{
    margin: 50px 0px 50px 0px;
}
.project{
    max-height: 340px;
}
.moleskine{
    width: 80%;
    padding: 0px 0px 50px 0px;
}
.pencil{
    height: 80%;
}
.link{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 55% 9% 0px 0px;
}
.btn-custom{
    margin-top: 0px;
    margin-bottom: 150px;
}
.profile p{
    width: 35%;
    font-size: 6px;
}
.social{
    width: 25px;
}
.shot{
    width: 80%;
}
}
@media screen and (max-width: 850px){
.back, .front {
    position: absolute;
    border-radius: 5px;
    width: 100%;
}
.front {
    overflow:hidden;
    z-index:900;
    -webkit-transform: none;
    -webkit-transform-style: none;
    -webkit-backface-visibility: none;

    -moz-transform: none;
    -moz-transform-style: none;
    -moz-backface-visibility: none;

    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.active .front {
    -webkit-transform: none;
    -moz-transform: none;
}
.back {
    width: 100%;
    z-index: 800;
    -webkit-transform: none;
    -webkit-transform-style: none;
    -webkit-backface-visibility: none;

    -moz-transform: none;
    -moz-transform-style: none;
    -moz-backface-visibility: none;

    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.back.flip{
    display: none;
}
.active .back {
    z-index: 1000;
    -webkit-transform: none;
    -moz-transform: none;
}
.blurby-right{
    margin: 0px 30px 0px 30px;
}
.blurby-left{
    margin: 0px 30px 0px 30px;
}
.btn-survey{
    display: none;
}
.cup{
    margin: 60px;
}
.spoon{
    float: right;
}
.team{
    margin: 50px 0px 50px 0px;
}
.project{
    max-height: 380px;
}
.moleskine{
    padding: 0px 0px 50px 0px;
}
.btn-custom{
    margin-top: 0px;
    margin-bottom: 150px;
}
.shot{
    width: 80%;
}
}
